
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base Styles */
html {
  font-size: 1em;
  font-style: Helvetica;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

header a {
  color: white;
}

#home a,
#abt a,
#home a:visited,
#abt a:visited {
  color: black
}

#home a:hover,
#abt a:hover {
  opacity: 0.3;
}

#inst_img {
  width: 70vw;
}

header a:visited {
  color: white;
}

header a:hover {
  color: slategray;
  opacity: 0.5;
}

#home_navbar a:hover {
  color: black;
}

header {
    background-color: #253404;
    color: white;
    display: grid;
    grid-template-columns: 0.2fr 1.2fr 6fr 0.5fr;
    padding: 1em 0 1.5em 0;
}

#logo {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin: 0 0.5em;
  width: 1.8em;
}

#navbar {
  border-bottom: 0.1em solid white;
  display: flex;
  font-size: 0.6em;
  justify-content: space-evenly;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#home_navbar {
  display: flex;
  font-size: 0.6em;
  justify-content: space-evenly;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-top: 1em;
}

header h1 {
  font-size: 2.4em;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  line-height: 1.2em;
  margin-top: 0.5em;
  text-align: center;
}

header h2 {
  color: gainsboro;
  font-size: 2.8em;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  margin-left: 1em;
  margin-top: 1em;
  text-align: center;
}

#home_header {
  position: relative;
  background-color: white;
  grid-template-columns: 0.5fr 0.5fr 10fr 1fr;
  margin: -1em 0 -10em 0;
}

#home,
#abt {
  margin-top: 1em;
}

#home_header img {
  width: 100%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main {
  margin: 0 1.5em;
}

article h2 {
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

.mb-1 {
  margin-bottom: -1em;
}

.mb1 {
  margin-bottom: 1em;
}

.vid {
  display: block;
  height: 50vw;
  margin: 2em auto 2em auto;
  width: 80vw;
}

.bt_fix {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

p {
  margin-bottom: 1em;
}

.num {
  list-style: decimal;
  margin-left: 1em;
}

.disc {
  list-style: disc;
  margin-left: 1em;
}

.deeppink {
  color: deeppink;
}

.letter {
  list-style: upper-alpha;
  margin-left: 1em;
}

li {
  margin-bottom: 1em;
}

.pr1 {
  padding-right: 1em;
}

.mt1 {
  margin-top: 1em;
}

.mt1_3 {
  margin-top: 1.3em;
}

.mt2 {
  margin-top: 2em;
}

.mt3 {
  margin-top: 3em;
}

.mt4 {
  margin-top: 4em;
}

.mt5 {
  margin-top: 5em;
}

.mt11 {
  margin-top: 11em;
}

.mt_1 {
  margin-top: -1em;
}

.pl2 {
  padding-left: 5em;
}

section h3,
h4 {
  font-weight: bold;
  margin-bottom: 1em;
}

h4 {
  margin-top: 2em;
}

.dash {
  list-style-type: square;
  margin-left: 2em;
}

.mb3 {
  margin-bottom: 3em;
}

.max_15 {
  max-width: 15em;
}

.max_20 {
  max-width: 20em;
}

.max_30 {
  max-width: 30em;
}

#home article,
#abt article {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3em;
}

#home article {
  grid-template-columns: 1fr;
}


#home article h2,
#abt article h2 {
  grid-column: 1 / -1;
  margin: 0.33em 0 1em 0;
  text-align: center;
}

#home article img,
#abt article img {
  width: 40vw;
}

#home article p,
#abt article p {
  font-size: 0.8em;
  margin: auto 1em auto 1em;
  padding-bottom: 0.5em;
}

.left img {
  display: block;
  margin: 0 auto 0.5em 0.5em;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.left p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.right img {
  display: block;
  margin: 0 0.5em 0.5em auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.right p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: right;
}

#ender {
  text-align: center;
}

label {
  font-size: 1.67em;
  line-height: 1.8em;
}

#doc_title {
  display: block;
  text-align: center;
}

#check {
  display: block;
  margin: 0 auto;
  width: 5em;
}

#feed {
  display: block;
  margin-top: 1.2em;
  text-align: center;
}

textarea {
  display: block;
  margin: 1em auto 0 auto;
  width: 40em;
}

#feed_submit {
  display: block;
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 1em auto 0 auto;
  padding: 0.25em 0.5em;
}

footer {
  background-color: #253404;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3em;
  padding: 0.5em 0 0 0;
}

footer img {
  width: 1em;
}

footer i {
  font-size: 0.5em;
  color: white;
  grid-column: 5 / 6;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#footer_icons {
  display: block;
  grid-column: 3 / 4;
  margin: 0 auto;
  width: 6.4em;
}

.ft_img {
  margin-right: 0.5em;
}

.pl3 li{
  margin-left: 3em;
}

.table3 {
  display: grid;
  font-size: 0.6em;
  line-height: 1.6em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  margin-top: 3em;
}

.table3 h2,
.table3 h3,
.table3 p,
.table3 ul {
  border: 0.05em solid black;
  padding: 0.3em;
  margin: 0;
}

.table2 {
  display: grid;
  font-size: 0.6em;
  line-height: 1.6em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  margin-top: 3em;
}

.table2 h2,
.table2 h3,
.table2 p,
.table2 ul {
  border: 0.05em solid black;
  padding: 0.3em;
  margin: 0;
}

i {
  display: block;
  margin-top: 1em;
}

.center {
  text-align: center;
}

b, .bold {
  font-weight: bold;
}


.full-img {
  display: block;
  margin: 1em auto;
  width: 85vw;
}

.img-cred {
  color: grey;
  display: block;
  font-size: 0.4em;
  text-align: center;
  margin-bottom: 2em;
}

.toc img {
  display: block;
  margin: 1em auto;
  width: 75%;
}

.page_header #navbar {
  border-bottom: none;
  margin-bottom: -2em;
  margin-top: -0.8em;
}

.page_header #logo {
  margin-top: -0.5em;
  width: 1.5em;
}

.page_header .pdr_2 {
  padding-right: 2em;
}

.page_header {
  margin-top: 2em;
  height: 0.1em;
}

.indie {
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
  margin-top: 0.7em;
}

.mb0_8 {
  margin-bottom: 0.8em;
}

.hotpink {
  color: hotpink;
}

#doubts_form {
  margin: -0.5em;
  width: 90vw; 
  height: 148em;
}

#blog_form {
  margin: -0.5em;
  width: 90vw; 
  height: 126em;
}

#blog_img {
  display: block;
  margin: 2em auto 0 auto;
  width: 60vw;

}

#blog_title {
  font-size: 1.2em;
  line-height: 2em;
  margin-top: 0.3em;
}

#blog_title::after {
  display: block;
  content: "";
  border-bottom: 0.08em solid black;
  margin: 0 auto;
  width: 40vw;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

#gallery img {
  width: 100%;
}

.bottomdash::after {
  display: block;
  content: "";
  margin: 0 auto;
  padding-bottom: 2em;
  border-bottom: 0.1em solid black;
  width: 60vw;
}

#about article h3 {
  grid-column: 1 / -1;
  font-size: 1.1em;
  padding-top: 1em;
  text-align: center;
}

.abt_2 {
  grid-column: 1 / -1;
  margin: 0.5em 0;
  text-align: center;
}

.right .ap {
  text-align: center;
}

.abt_head {
  font-size: 1.6em;
}

#abt .aleft {
  grid-template-columns: 1fr;
}

#abt .aleft img {
  display: block;
  margin: 0 auto 1em auto;
}

#home article h2{  
  grid-column: 1 / 3;
  text-align: center;
}

footer a,
footer a:visited {
  color: white;
}

footer a:hover {
  color: gainsboro;
}

.wrap {
  word-wrap: break-word;
}

@media screen and (min-width: 370px) {
  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 117em;
  }  
}

@media screen and (min-width: 420px) {
  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 109em;
  }  
}

@media screen and (min-width: 450px) {
  #logo {
    margin-left: 1em;
    width: 2.2em;
  }

  #navbar,
  #home_navbar {
    font-size: 0.8em;
  }

  header h1 {
    font-size: 2.4em;
  }

  .table3,
  .table2 {
    font-size: 0.8em;
    line-height: 1.6em;
  }
  
  .table3 h2,
  .table2 h2,
  .table3 h3,
  .table2 h3,
  .table3 p,
  .table2 p,
  .table3 ul,
  .table2 ul {
    padding: 0.5em;
  }

  .col2_450 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  } 

  #home article #big_fix {
    width: 40vw;
  }  

  .page_header #navbar {
    border-bottom: none;
    margin-bottom: -2.4em;
    margin-top: -0.6em;
  }
  
  .page_header #logo {
    margin-top: -0.6em;
    width: 1.5em;
  }
    
  .page_header {
    margin-top: 2.5em;
  }
  
  .indie {
    font-size: 5em;
    margin-top: 0.7em;
  }  

  #doubts_form {
    margin: 0em;
    height: 130em;
  }  

  #blog_title {
    font-size: 1.6em;
  }  

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .abt_head {
    grid-column: 1 / -1;
  }

  #abt article {
    grid-template-columns: 1fr;
  }

  #about .left p,
  #about .right p {
    text-align: center;
  }

  #about .right img,
  #about .right p {
    grid-column: 1 / -1;
  }
  
  footer i {
    font-size: 0.6em;
  }  
}

@media screen and (min-width: 475px) {
  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 100em;
  }  
}

@media screen and (min-width: 560px) {

  main {
    margin: 0 2em;
  }

  #logo {
    margin-left: 1em;
    width: 2.8em;
  }

  #navbar,
  #home_navbar {
    font-size: 1em;
  }

  header h1 {
    font-size: 2.6em;
  }

  .table3,
  .table2 {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  
  .table3 h2,
  .table2 h2,
  .table3 h3,
  .table2 h3,
  .table3 p,
  .table2 p,
  .table3 ul,
  .table2 ul {
    padding: 0.6em;
  }

  #home article h2,
  #abt article h2 {
    font-size: 1.5em;
    line-height: 1.8em;
  }

  #home article p,
  #home p,
  #abt article p,
  #abt p,
  #home_navbar {
    font-size: 1.15em;
    line-height: 1.8em;
  }

  .page_header #navbar {
    border-bottom: none;
    margin-bottom: -2.4em;
    margin-top: -0.5em;
  }

  .page_header .pdr_2 {
    padding-right: 3em;
  }
  
  .page_header #logo {
    margin-top: -0.6em;
    width: 1.5em;
  }
    
  .page_header {
    margin-top: 3em;
  }
  
  .indie {
    font-size: 6em;
    margin-top: 0.7em;
  }  

  #blog_title {
    font-size: 2em;
  }  

  .abt_head {
    font-size: 1.6em;
  }  

  #about article h3 {
    font-size: 1.3em;
  }  

}

@media screen and (min-width: 620px) {
  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 92em;
  }  
}


@media screen and (min-width: 650px) {
  html {
    font-size: 1.1em;
    line-height: 1.6em;
  }

  article h2 {
    font-size: 1.3em;
    line-height: 1.6em;
  }

  section h3 {
    font-size: 1.15em;
    line-height: 1.6em;
  }

  h4 {
    font-size: 1.08em;
    line-height: 1.6em;
  }

  .col2,
  .col2_650 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  } 
  
  .table3 h2,
  .table2 h2 {
    border: 0.025em solid black;
    font-size: 1.1em;
  }

  #doubts_form {
    margin: 0em;
    height: 116em;
  }  

  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 81em;
  }  

  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  #blog_two_row {
    grid-row: 18 / 20;
    grid-column: 1 / 2;
  }

  footer i {
    font-size: 0.7em;
  }  
  
}  

@media screen and (min-width: 750px) {
  footer i {
    margin-left: 5vw;
  }
}

@media screen and (min-width: 900px) {

  main {
    margin: 0 2.6em;
  }

  html {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  #logo {
    margin-left: 2em;
  }

  article h2 {
    font-size: 1.35em;
    line-height: 1.8em;
  }

  section h3 {
    font-size: 1.25em;
    line-height: 1.8em;
  }

  i {
    margin-top: 1.5em;
  }

  .table3 h2,
  .table2 h2 {
    border: 0.05em solid black;
  }

  .col2_900 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  } 

  .two_col_900 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .two_col_900 a {
    grid-row: 2 / 3;
  }

  .two_col_900 .imh {
    height: 30vw;
  } 

  #doubts_form {
    margin: 0em;
    height: 106em;
  } 
  
  .page_header #navbar {
    border-bottom: none;
    margin-bottom: -2.4em;
    margin-top: -0.4em;
  }
  
  .page_header #logo {
    margin-top: -0.4em;
    width: 1.8em;
  }
  
  .page_header .pdr_2 {
    padding-right: 4em;
  }
  
  .page_header {
    height: 0.5em;
    margin-top: 2.5em;
  }
  
  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 71em;
  }  

  #abt .aleft {
    grid-template-columns: 1fr 1fr;
  }

  #abt #about {
    grid-template-columns: repeat(4, 1fr);
  }

  #abt #about .left img,
  #abt #about .right img {
    display: block;
    margin: 0 auto;
  }

  #abt #about .amain1 {
    grid-column: 1 / 3;
  }

  #abt #about .amain2 {
    grid-column: 3 / 5;
  }

  #abt #about .amain1 img {
    margin: 1em auto;
  }

  #abt #about .amain2 img {
    margin: 1em auto;
  }

  #abt #about .aimg {
    width: 20vw;
  }

  #about article h3 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #about #afix h3 {
    padding-bottom: 3em;
  }

  #about #afix img {
    padding-bottom: 3em;
  }

}

@media screen and (min-width: 1050px) {

  #logo {
    width: 3.2em;
  }

  #navbar,
  #home_navbar {
    font-size: 1.1em;
  }

  header h1 {
    font-size: 2.8em;
  }

  html {
    font-size: 1.25em;
    line-height: 2em;
  }

  article h2 {
    font-size: 1.45em;
    line-height: 1.8em;
  }

  section h3 {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  h4 {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .col2_1050 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  } 

  .col3_1050 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  } 

  #doubts_form {
    margin: 0em;
    height: 100em;
  } 

  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 68em;
  }  

  #about #afix h3 {
    padding-bottom: 5em;
  }

  #about #afix img {
    padding-bottom: 5em;
  }

}

@media screen and (min-width: 1100px) {
  .two_col_900 .imh {
    height: 25vw;
  }
}
@media screen and (min-width: 1250px) {

  main {
    margin: 0 3.5em;
  }

  #logo {
    margin-left: 2.5em;
    width: 3.6em;
  }

  #navbar,
  #home_navbar {
    font-size: 1.2em;
  }

  header h1 {
    font-size: 3.2em;
  }

  html {
    font-size: 1.4em;
    line-height: 2em;
  }

  article h2 {
    font-size: 1.65em;
    line-height: 1.8em;
  }

  section h3 {
    font-size: 1.45em;
    line-height: 1.8em;
  }

  .col2_1250 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  } 

  .col3_1250 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  } 

  #doubts_form {
    margin: 0em;
    height: 88em;
  }  

  #blog_form {
    margin: -0.5em;
    width: 90vw; 
    height: 61em;
  }  

  #about #afix img {
    padding-bottom: 3em;
  }

  footer i {
    margin-left: 7vw;
  }
}